@using TravelWeb.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("ChangePassword", "Manage")">เปลี่ยนรหัสผ่าน</a>
                    <a class="dropdown-item" href="@Url.Action("EditProfile", "Manage")">แก้ไขข้อมูลส่วนตัว</a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">ออกจากระบบ</a>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link @Html.IsActive("Account","Login")" id="loginLink" href=@Url.Action("Login", "Account",routeValues: null)>เข้าสู่ระบบ</a></li>
    </ul>
}